page-register {

    ion-grid {
        height: 100%;
        .col{
            padding:0px;
        }

        ion-input {
            display: flex;
            align-content: center;
            padding: 0.7vh;
            ::placeholder{
                color: #7c2417 !important;
                font-size: 2vh;
            }
        }
   
    #logo {
        height: 30vh !important;
        width: auto !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        }

    .client-style {
        color: #7c2417;
        font-size: 2vh;
        text-align: center;
        border: 1px solid #7c2417;
        border-radius: 5px;
        margin: 1%
    }

    .client-style-text {
        color: #7c2417;
        font-size: 2vh;
        text-align: center;
        margin: 1%
    }

    .center-style{
        display:flex !important;
        justify-content: center !important;
        align-content: center !important;
    }

   
    .login {
        height: 6vh !important;
        width: 100%;
        border-radius: 5px;
        margin-left: auto !important;
        margin-right: auto !important;
        display: inline-block;
        font-size: 2vh;
    }
  
        .signup {
        height: 6vh !important;
        width: 100%;
        border-radius: 5px;
        margin-left: auto !important;
        margin-right: auto !important;
        display: inline-block;
        font-size: 2vh;
            }
        


}//ion-grid
        
}//register


