<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>

      <ion-row id="img-section">

          <div><img class="prof-img" [src]="currentImage"/></div>
            <h3 [hidden]="lastImage !== null">Change Profile Photo</h3>
          <div class="change-photo">
            <ion-item>
              <button ion-button icon-left color="client" (click)="presentActionSheet()">
                <ion-icon name="camera"></ion-icon>Select Image
              </button>
            </ion-item>
          </div>

          
  
      </ion-row>


    <form (submit)="saveProfile(editProfileData)">

    <ion-row id="info-section" >
      
    <ion-label>First Name:</ion-label> 
    <div class="previous-value" *ngFor="let fname of displayFirstName"> {{fname}}
        <ion-input type="text" placeholder="First Name" [(ngModel)]="editProfileData.field_first_name.value" name="field_first_name"></ion-input>
    </div>

    <ion-label>Last Name:</ion-label>
    <div class="previous-value" *ngFor="let lname of displayLastName">{{lname}}
        <ion-input type="text" placeholder="Last Name" [(ngModel)]="editProfileData.field_last_name.value"  name="field_last_name"></ion-input>
    </div>

    <ion-label>Country:</ion-label> 
    <div class="previous-value" *ngFor="let country of displayCountry"> {{country}}
        <ion-input type="text" placeholder="{{country}}" [(ngModel)]="editProfileData.field_country.value" name="field_country"></ion-input>
    </div>

    <ion-label>Region:</ion-label> 
    <div class="previous-value" *ngFor="let region of displayRegion"> {{region}}
        <ion-input type="text" placeholder="{{region}}" [(ngModel)]="editProfileData.field_region.value" name="field_region"></ion-input>
    </div>
      
    <ion-label>City:</ion-label>
    <div class="previous-value" *ngFor="let city of displayCity"> {{city}}
          <ion-input type="text" placeholder="{{city}}" [(ngModel)]="editProfileData.field_city.value" name="field_city"></ion-input>
    </div>

    <ion-label>Short Description:</ion-label>
    <div class="previous-value" *ngFor="let desc of displayDesc"> {{desc}} 
              <ion-textarea  class='long-text-input' type="text" maxlength="150" rows="4" wrap="hard" placeholder="{{desc}}" [(ngModel)]="editProfileData.field_short_description.value" name="field_short_description"></ion-textarea>
    </div>
      
    </ion-row>

    <ion-row id="divider-row">
      <div class="divider-text">Private Information</div>
    </ion-row>

    <ion-row id="private-info-section">
      
      <ion-label>E-mail:</ion-label>
      <div class="previous-value" *ngFor="let mail of displayEmail"> {{mail}}
            <ion-input type="text" placeholder="{{mail}}" [(ngModel)]="editProfileData.mail.value" name="mail"></ion-input>
      </div>
     
      <ion-label>Mobile Number:</ion-label>
        <div class="previous-value" *ngFor="let number of displayMobile"> {{number}}
            <ion-input type="text" placeholder="{{number}}" [(ngModel)]="editProfileData.field_mobile_number.value" name="field_mobile_number"></ion-input>
        </div>

         
      <ion-label>Current Password:</ion-label> 
        <div class="row-wrap" >
          <ion-input class="client-style" [(ngModel)]="editProfileData.pass.value.existing" name="existing" type="text" placeholder="Current Password"></ion-input>
                  </div>
     
  
  </ion-row>

 

    <ion-row id="button-container">
      <button class="save-button" ion-button  type="submit" color="client">Save</button>
    </ion-row>
  
</form>

  </ion-grid>
</ion-content>
