<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>

      <form (submit)="saveProfile()">
    <ion-row id="img-section">

        <img class="prof-img" (click)="getImage()" *ngFor="let img of displayImage" src="{{img.url}}"/>
        <div class="change-photo">
          <button ion-button (click)="uploadFile()" color="client" clear>Change Profile Photo</button>
        </div>

    </ion-row>
    <ion-row id="info-section" >

      <div *ngFor="let name of displayName">
        <ion-label>First Name:</ion-label> 
        <ion-input type="text" placeholder="{{name.given}}" [(ngModel)]="editProfileData.field_name.given" name="given"></ion-input>
        <ion-label>Last Name:</ion-label> 
        <ion-input type="text" placeholder="{{name.family}}" [(ngModel)]="editProfileData.field_name.family" name="family"></ion-input>
      </div>

      <div *ngFor="let info of displayInfo">
        <ion-label>City:</ion-label>
        <ion-input type="text" placeholder="{{info.locality}}" [(ngModel)]="editProfileData.field_address.locality" name="city"></ion-input>
        <ion-label>State/Region:</ion-label><div class="previous-value"> </div>
        <ion-input type="text" placeholder="{{info.administrative_area}}" [(ngModel)]="editProfileData.field_address.administrative_area"  name="area"></ion-input>
      </div>

       <ion-label>Short Description:</ion-label>
        <ion-textarea *ngFor="let desc of displayDesc" class='long-text-input' type="text" maxlength="150" rows="4" wrap="hard" placeholder="{{desc.processed}}" [(ngModel)]="editProfileData.field_short_description.value" name="short_desc"></ion-textarea>
      
    </ion-row>

    <ion-row id="divider-row">
      <div class="divider-text">Private Information</div>
    </ion-row>

    <ion-row id="private-info-section">

      <ion-label>E-mail:</ion-label>
      <ion-input *ngFor="let mail of displayEmail" type="email" placeholder="{{mail.value}}" [(ngModel)]="editProfileData.mail.value" name="mail"></ion-input>
      <ion-label>Mobile Number:</ion-label>
      <ion-input *ngFor="let mobile of displayMobile" type="number" placeholder="{{mobile.value}}" [(ngModel)]="editProfileData.field_mobile.value" name="mobile"></ion-input>

  </ion-row>
    <ion-row id="button-container">
      <button class="save-button" ion-button  type="submit" color="client">Save</button>
    </ion-row>
  
</form>

  </ion-grid>
</ion-content>
