<ion-header>
        <ion-navbar color="client" hideBackButton>
                <img id="navlogo" (click) ="gotoHomePage()" alt="logo"  src="assets/imgs/navlogo.svg" >
        </ion-navbar>
</ion-header>

<ion-content>
<ion-grid>
        <ion-card id="prof-container">
                <ion-col class="prof-img-container" col-5 >
                        
                        <img alt="Profile Photo" (click)="gotoProfilePage()" class="prof-img"  *ngFor="let img of displayImage" src="{{img.url}}">    
                        
                </ion-col>

                <ion-col class="info-wrapper" col-7 >
                        <div id="display-name" *ngFor="let name of displayName">
                                {{name.given}}{{name.family}}
                        </div>

                        <div id="sub-info-wrapper">
                                <div id="account-type">
                                        Client,
                                </div>
                                
                                <div id="date-joined">
                                        January 2018
                                </div>
                        </div>
                        <div id="locality" *ngFor="let info of displayInfo">{{info.locality}}, {{info.administrative_area}}</div>
                        <div id="email" *ngFor="let mail of displayEmail">
                                {{mail.value}}
                        </div>

                        
                </ion-col>
        </ion-card>


 
        <ion-card id="short-desc-wrapper">
                <ion-row class="center-short-desc">
                <div class="short-desc-title">Short Description</div>
                        <div class="short-desc" *ngFor="let desc of displayDesc">
                                {{desc.processed}}
                        </div>
                </ion-row>
        </ion-card>

        

        <ion-card id="sml-btn-container">
                
                <ion-col col-4 class="center-col">
                <img alt="Browse" (click) ="gotoBrowseProfile()" class="app-btn-icon" src="assets/imgs/client-search-btn.svg">
                </ion-col>

                <ion-col col-4 class="center-col">
                <img alt="Messaging" (click) ="gotoMessenger()" class="app-btn-icon" src="assets/imgs/client-message-btn.svg">
                </ion-col>
                
                <ion-col col-4 class="center-col">
                <img alt="Notification" (click) ="gotoNotification()" class="app-btn-icon" src="assets/imgs/client-notif-active.svg">
                </ion-col>


        </ion-card>

        <ion-card id="lrg-btn-container"> 
                <ion-col col-4 class="center-btn">
                <img alt="Edit Profile" (click) ="gotoEditProfile()" class="app-btn-img" src="assets/imgs/client-edit-profile.svg">
                <h2 class="btn-label">Edit Profile</h2>
                </ion-col>

                <ion-col col-4 class="center-btn">
                <img alt="Booking Status" (click) ="gotoBookingStatus()" class="app-btn-img" src="assets/imgs/client-booking-status.svg">
                <h2 class="btn-label">Booking Status</h2>        
                </ion-col>
                
                <ion-col col-4 class="center-btn">
                <img alt="Account Settings"(click) ="gotoAccountSettings()" class="app-btn-img" src="assets/imgs/client-acct-settings.svg">
                <h2 class="btn-label">Account Settings</h2>        
                </ion-col>

                <ion-row id="post-btn-wrapper">
                        <button id="post-btn" (click) ="gotoProjectPostForm()" ion-button color="client">POST PROJECT</button>
                </ion-row>
        
        </ion-card>

        


        <ion-card id="guide-container">
                <ion-col id="guide-label-wrapper" col-7><div id="guide-label">What is Creative Brief? </div></ion-col>
                <ion-col id="guide-btn-wrapper" col-5><button id="guide-btn" (click) ="gotoCreativeBriefFAQPage()" ion-button color="designer">Learn More</button></ion-col>
        </ion-card>

</ion-grid>

        
</ion-content>
